{% extends "base.html" %}
{% load static %}

{% block title %} Top Things {% endblock title %}

{% block content %}
    
    <!--Navbar-->
        {% include "includes/navbar.html" %}
    <!--Navbar/-->

    <!--Bubbles-->
    {% include "includes/bubble.html" %}
    <!--Bubbles/-->


    <div class="container mt-5">
        <div class="header bg-white">

            <div class="row text-center">
                <div class="col-md-10 offset-md-1">
                  <div class="header">
                      <h1>What and Why <span class="text-secondary">TopThings</span>?</h1>
                  </div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="text-secondary lead my-5" style="font-family: 'Aleo', serif; line-height:1.7;">
                            It's platform from developers to developers thats help them to grow from baby steps in software development to Senior level, it contains huge bunch of resources from <span class="paragraph-span">books</span>, <span class="paragraph-span">articles</span>, <span class="paragraph-span">youtube channels</span>, <span class="paragraph-span">free courses</span>, <span class="paragraph-span">developer tweets</span>, <span class="paragraph-span">free templates</span>, <span class="paragraph-span">open source projects</span> and etc
                        </p>
                    
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="devices pl-md-4">
                            <img src="{% static 'assets/img/blogging.svg' %}" alt="Example Navbar 1" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container mb-5">
        <div class="section">
            <div class="row text-center">
              <div class="col-md-8 offset-md-2">
                <div class="header">
                    <h3>Last Things</h3>
                </div>
              </div>
            </div>

            <div class="row">

                {% for thing in things %}
                    <div class="col-md-4">
                        <div class="component">
                            
                            <div class="card new-card">
                                <div class="card-header">
                                    {% if thing.picture.url %}
                                        <img class="card-img" src="{{ thing.picture.url }}" alt="{{ thing.title }}" title="{{ thing.title }}">
                                    {% else %}
                                        <img class="card-img" src="{% static 'assets/img/default.jpg' %}" alt="{{ thing.title }}" title="{{ thing.title }}">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <span class="badge badge-secondary mb-2">{{ thing.category.category }}</span>
                                    <span class="badge badge-pill
                                    {% if thing.rank == 'Beginner' %}
                                        badg-beginner
                                    {% elif thing.rank == 'Intermediate' %}
                                        badg-intermediate
                                    {% else %}
                                        badg-advanced
                                    {% endif %}
                                     mb-2 float-right">{{ thing.rank }}</span>

                                    <h4 class="card-title">{{ thing.title }}</h4>
                                    <p class="card-text">{{ thing.description | safe | slice:":100" }}</p>
                                </div>
                                <div class="card-footer pt-0">
                                        <a href="{% url 'topthings:single-thing' thing.slug %}" class="btn btn-outline-primary btn-sm">Read More</a>
                                        <span class="float-right">{{ thing.created_at |date:"M d, Y" }}</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}

            </div>
      
        </div>
    </div>
  
  
    <!--Footer-->
      {% include "includes/footer.html" %}
    <!--Footer/-->

{% endblock content %}
